@import 'styles/variables.scss';
@import 'styles/variables.scss';

.BricksListItem__MetaData__Menu {
  margin-left: 2rem;
  position: relative;
  svg {
    cursor: pointer;
  }
  g {
    g {
      fill: $medium-grey-color;
    }
  }

  .BricksMenuOptions {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    ul {
      position: absolute;
      right: 0;
      top: 0;
      width: 12.5rem;
      a {
        color: $dark-color;
        cursor: pointer;
        display: block;
        padding: 1rem 2rem;
        width: auto;
        &:hover {
          background: $light-grey-color;
        }
      }
    }
  }
}
