
// Colors
$dark-color: #222222;
$dark-grey-color: #666666;
$error-color: #d13649;
$light-color: #ffffff;
$light-grey-color: #eaeaea;
$medium-grey-color: #b6b6b6;
$primary-color: #1d72db;
$secondary-color: #289588;
$validate-color: #5d981c;
$very-dark-color: #111111;
$very-dark-grey-color: #333333;
$very-light-grey-color: #f8f8f8;
$warning-color: #d58706;
