@import 'styles/variables.scss';

.FileUploader {
  width: 100%;
  &__Title {
    color: $dark-color;
    margin-bottom: 1rem;
  }
  &__Button {
    width: 10rem;
  }
  &__Name {
    margin-top: 1rem;
    color: $medium-grey-color;
  }
  input {
    visibility: hidden;
    width: 0;
    height: 0; 
  }
}
