@import 'styles/variables.scss';

.SceneBricksHome {
  background: $very-light-grey-color;
  &__Content {
    max-width: 1100px;
    padding: 2.0625rem 2rem;
    &__Search {
      width: 25rem;
    }
  }
}
