@import 'styles/variables.scss';

.FormSelect {
  margin-bottom: 1rem;
  width: 100%;
  &__Title {
    color: $dark-color;
    margin-bottom: .5rem;
  }

  &__Select {
    width: 100%;
    box-sizing : border-box;
  }
}
